{% extends '@Kvint/Default/index.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8">
                <h2>Склады : </h2>
                <div>
                    {#<button class="btn btn-success btn-new"><i class="fa fa-plus-circle"></i>Добавить</button>#}
                    <a href=" {{ path('kvint_sklad_add') }} " class="btn btn-success btn-default active btn-new">
                        <i class="fa fa-cog" aria-hidden="true"></i> Добавить
                    </a>
                </div>
                {{ sg_datatables_render(datatable) }}
            </div>
        </div>
    </div>
{% endblock %}