{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row centered">
            <div class="col-sm-12 title-home">
                <h1>Уважаемые коллеги!</h1>
                <h4>Представляем вам формулировки миссий предприятия по направлениям:</h4>
            </div>
        </div>
        {#<div class="row top-home">#}
            {#<div class="col-sm-12 centered">#}
                {#<img class="centered img-rounded img-home" src="{{ asset('resources/images/dt.jpg') }}" alt="">#}
            {#</div>#}
        {#</div>#}
        <div class="row centered">
            <div class="col-sm-6 col-md-4">
                <i class="fa i-home fa-flag"></i>
                <h4>Взаимоотношения с государством и обществом</h4>
                <p class="p-home">Достигнем успеха вместе</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <i class="fa i-home fa-shopping-cart"></i>
                <h4>Взаимоотношения с покупателями</h4>
                <p class="p-home">Создаем Место, где каждый покупатель чувствует себя комфортно</p>
            </div>
            <div class="clearfix visible-sm-block"></div>

            <div class="col-sm-6 col-md-4">
                <i class="fa i-home fa-handshake-o"></i>
                <h4>Взаимоотношения с партнерами</h4>
                <p class="p-home">взаимовыгодное сотрудничество профессионалов</p>
            </div>
            <div class="clearfix visible-md-block visible-lg-block"></div>

            <div class="col-sm-6 col-md-4">
                <i class="fa i-home fa-step-forward"></i>
                <h4>Взаимоотношения с конкурентами</h4>
                <p class="p-home">Мы всегда на шаг впереди<br><br>
            </div>
            <div class="clearfix visible-sm-block"></div>

            <div class="col-sm-6 col-md-4">
                <i class="fa i-home fa-user-circle-o"></i>
                <h4>Взаимоотношения с персоналом</h4>
                <p class="p-home">мы ценим каждого, будь лучшим, реализуй себя, расти вместе с предприятием.
                    Я работаю в Доме торговли "Южный Буг", ведь я этого достоин!</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <i class="fa i-home fa-diamond"></i>
                <h4>Какой товар продаем, какие услуги предоставляем</h4>
                <p class="p-home">У нас есть ВСЕ и ВСЕГДА для каждого или для гурманов</p>
            </div>
        </div>
        <div class="row buttom-home">
            <div class="col-sm-12 centered">
                <img class="centered img-home" src="{{ asset('resources/images/retail-industry2.jpg') }}" alt="">
            </div>
        </div>
    </div>

    {#<section id="buttom"></section>#}
    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-sm-12">#}
                {#<img id="footer" src="{{ asset('resources/images/retail-industry2.jpg') }}" alt="">#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

{% endblock %}