{% extends '@Kvint/Default/index.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8">
                <h2>Склады : </h2>
                {{ sg_datatables_render(datatable) }}
            </div>
        </div>
    </div>
{% endblock %}