{% extends ':default:index.html.twig' %}

{% block mainmenu2 %}
    {% include '@Kvint/Menu/kvintMenu.html.twig' %}
{% endblock %}
{% block menu_space %}
    <div class="content" style="height: 120px;"></div>
{% endblock %}
{% block content %}
    Hello Kvint!
{% endblock %}

